.DS_Store
.gradle/
.kotlin/
build/

**/.idea/*
!.idea/codeInsightSettings.xml
!.idea/externalDependencies.xml
!.idea/icon.svg
!.idea/vcs.xml
*.iml
*.ipr
*.iws
/.tdd/scripts
/.tdd/scripts/
/.agents/skills
/.agents/skills/
/.claude
/.claude/
/.codex
/mui7-surface
